.S-card {
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 35%;
    position: relative;
    margin: auto;
  }

  .S-card header {
    padding: 20px;
    color: #fff;
  }

  .L-card {
    width: 75%;
    padding-left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align: left;
    border-style: solid;
    border-width: 1px;
  }

  .L-card header {
    padding: 5px;
    color: #000000;
    font-weight: 1000;
    font-stretch: ultra-expanded;
    background-color: rgb(88, 100, 233);
    max-width: 30%;
    margin-left: 0px;
  }

  .nav {
    display: inline-block;
    padding: 10px;
    justify-content: space-evenly;
  }

  .about-me {
    padding: 5%;
  }

  .Main-Header {
    display: flex;
    justify-content: space-between;
  }

  .work {
    width: 80%;
    margin: auto;
  }

  .Name {
    font-size: 200%;
    margin-top: 5dvb;
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
    background-color: rgb(81, 189, 244);
  }

  #vocab{
    background-image:url('./images/VVhomepage.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 78%;
    height: 15%;
    margin: auto;
  }
