.S-card {
    flex: 1 0 0;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 35%;
    position: relative;
    justify-self: center;
  }

  .S-card header {
    padding: 20px;
    color: #fff;
  }

  .L-card {
    width: 75%;
    flex: 1 0 0;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .L-card header {
    padding: 20px;
    color: #000000;
    font-weight: 1000;
    font-stretch: ultra-expanded;
  }

  .nav {
    display: inline-block;
    padding: 10px;
    justify-content: space-evenly;
  }

  .about-me {
    padding: 1rem;
  }

  .Main-Header {
    display: flex;
    justify-content: space-between;
  }

  .work {
    margin: 5dvb;
    margin-left: 10%;
    margin-right: 10%;
    display: flexbox;
    justify-content: space-around;
    align-content: center;
  }

  .Name {
    font-size: 200%;
    margin-top: 5dvb;
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body {
    background-color: rgb(81, 189, 244);
    display: flexbox;
  }

  #vocab{
    background-image:url('./images/VVhomepage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 80%;
    color:black;
    font-weight: bolder;
    font-stretch: semi-expanded;
  }